<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>appName</key>
			<string>Heads Up!</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/33/38/45/33384524-c01d-a463-4f88-f2e6cb29ea5f/AppIcon-1x_U007emarketing-85-220-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Minecraft</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/5c/85/62/5c856242-06b4-0e3d-68b9-8ca06fc46b8e/mzl.maxjogzo.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Plague Inc.</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/af/2f/3d/af2f3d54-854e-3eb9-0cfe-f11d28673d75/AppIcon-1x_U007emarketing-85-220-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Facetune</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/74/63/a2/7463a211-e916-72db-8d99-606b82c56c05/AppIcon-1x_U007emarketing-85-220-2.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>HotSchedules</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/3f/ae/b6/3faeb6b5-6e9a-f8b6-fdc4-a917a003b5d4/AppIcon-1x_U007emarketing-85-220-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Bloons TD 5</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/55/97/1d/55971dba-bf0e-2f70-2cd7-3d296f944251/AppIcon-1x_U007emarketing-0-85-220-0-2.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Geometry Dash</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/b6/5d/7b/b65d7be5-e14a-433f-bb53-8cc2407e6199/AppIcon-1x_U007emarketing-85-220-9.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Pocket Build</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/26/27/43/2627431f-ca07-a922-d452-34aa7cfa294c/AppIcon-1x_U007emarketing-85-220-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>NBA 2K18</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/3e/7e/c1/3e7ec1ef-5280-a09b-15c2-ee63be42fc21/AppIcon-1x_U007emarketing-85-220-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>My Talking Pet</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/62/d3/15/62d315d7-29fc-fcb8-9bd5-0240a672d363/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>PlantSnap Plant Identification</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/1f/49/51/1f4951e2-5cf3-ab44-d724-8a4fd48e15e6/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>True Skate</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/b0/08/85/b008852e-75f3-469f-73f5-8ed04f51456e/AppIcon-1x_U007emarketing-85-220-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Pixomatic photo editor</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/0f/8b/94/0f8b94a3-4578-575a-91c0-c9409d44280c/AppIcon-1x_U007emarketing-85-220-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Papa's Freezeria To Go!</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple111/v4/f4/9a/98/f49a983a-9193-f2cf-2a2e-2400b82e7347/mzl.wvrlfrgz.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>The Wonder Weeks</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/c5/eb/69/c5eb69d5-8a0c-1bd9-9ef6-074769e28329/AppIconSEVEN-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>kirakira+</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/d6/63/5e/d6635e31-250f-df50-867e-bb206793ab2a/AppIcon-1x_U007emarketing-85-220-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Afterlight 2</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/0b/1a/f3/0b1af3e5-717d-f75c-555a-f1f84e51b183/AppIcon-1x_U007emarketing-85-220-0-3.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Grand Theft Auto: San Andreas</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple127/v4/e2/47/76/e2477605-c2cb-0196-b554-7ce4aa5c7699/mzl.zygvessz.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Scanner Pro</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/63/4e/94/634e94d1-e975-cfea-229a-07d7b2afc2c2/ScannerPro-1x_U007emarketing-0-0-85-220-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>PAKO 2</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/74/58/f7/7458f71f-1c18-49eb-5431-13ffa63acec1/AppIcon-1x_U007emarketing-85-220-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Full Fitness : Exercise Workout Trainer</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple111/v4/27/a1/b9/27a1b920-262d-9012-7f2d-c1c4f14ebc37/mzl.qwmfbxbh.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Scribblenauts Remix</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/2d/22/d8/2d22d8ce-9366-5a0d-b1d1-f7bcab737641/AppIcon-1x_U007emarketing-0-85-220-0-4.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Dark Sky Weather</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/a6/3b/a2/a63ba27a-e585-059a-614c-ae98b7e43bf6/AppIcon-1x_U007emarketing-85-220-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>AutoSleep Tracker for Watch</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple62/v4/cc/df/b6/ccdfb6af-0ef1-4c06-2135-224d44218749/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-1.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Word Swag - Cool Fonts</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/02/27/1c/02271c3d-b36f-4ca9-6810-72e4ab45d999/AppIcon-1x_U007emarketing-0-85-220-0-3.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Glitché</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple127/v4/37/32/4e/37324e21-766f-db86-f624-52c2fb6b806b/mzl.zhtyflcy.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Terraria</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple60/v4/fd/22/fd/fd22fdbd-4c34-f495-2d4f-62689635f4aa/mzl.buzljamm.jpg/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Flick Home Run !</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple60/v4/c5/18/6b/c5186b77-64c4-197f-dea1-a83504436f06/mzl.ajqzdifq.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Sky Guide AR</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/ab/87/0b/ab870b6c-2b58-83ab-662e-94ccbfac410c/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>My Baby's Beat</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/15/96/12/1596125e-0642-135d-a58a-84eed814d8cf/AppIcon-1-1x_U007emarketing-85-220-4.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Oddmar</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/9e/b4/be/9eb4be5a-e3a9-1fcb-2bf5-7d266ce85e8a/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Forest - Stay focused</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/d2/f9/c0/d2f9c02b-4af4-81f4-bbf8-357586c048ab/AppIcon-1x_U007emarketing-85-220-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>The Game of Life</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/86/25/c3/8625c39a-500f-8f54-73e4-ce690ee83411/mzl.ewewzcgq.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Lucky Cactus Grow</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple49/v4/fe/b1/96/feb196bc-1bdb-ddf4-d84e-e272f17044b4/pr_source.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>SpongeBob Moves In</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple117/v4/ba/d4/b6/bad4b6a4-3aef-ba04-4e74-26a33a90753c/mzl.abvhsaiv.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>7 Minute Workout Challenge</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/67/c9/cb/67c9cb70-7d88-3778-d8ca-90fc986059e2/AppIcon-1x_U007emarketing-0-85-220-0-1.jpeg/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Five Nights at Freddy's</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple117/v4/10/1c/b4/101cb433-a647-f84a-e5db-a2c989168b34/mzl.pqckoovl.jpg/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>My Macros+ | Diet &amp; Calories</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/65/99/b0/6599b0bd-afbe-f871-20be-0b9c63e457b5/AppIcon-1x_U007emarketing-sRGB-85-220-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Sense.</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/6a/71/df/6a71dff8-b6ee-a163-7e2e-ff8143594276/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-1.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>1 Second Everyday: Video Diary</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/51/80/ba/5180ba4e-d8b9-091c-d33e-e30d2116cef4/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-4.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Nexomon</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/a6/6e/8d/a66e8d58-e6a9-e978-1c52-451daf8a82d1/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Hitman Sniper</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/31/b4/2b/31b42b1a-a03c-57c3-9bd9-e68064d1cbac/AppIcon-1x_U007emarketing-85-220-4.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Exploding Kittens®</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/81/2a/77/812a7726-6038-4813-16f5-ea9b434c3e41/AppIcon-1x_U007emarketing-85-220-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Cute CUT Pro</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/e6/f7/47/e6f74725-5ff2-23d9-b805-4d9efbd6c335/AppIcon-1x_U007emarketing-85-220-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Toca Life: After School</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/78/05/ce/7805cef0-a2f7-4e52-1138-14a868b473c6/AppIcon-1x_U007emarketing-85-220-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>8mm Vintage Camera</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/4b/5e/e6/4b5ee651-cfbd-e931-0250-b7a668516fcc/AppIcon-1x_U007emarketing-85-220-1.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Alto's Odyssey</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/71/4b/cd/714bcd0a-067c-d36a-228f-d88d4c9aacfc/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>TonalEnergy Tuner &amp; Metronome</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/09/4c/ba/094cbacc-9191-d366-a4e1-1d674d1bdbb2/AppIcon-1x_U007emarketing-85-220-9.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Earn to Die 2</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/df/b6/a9/dfb6a904-b4a9-ec3d-74f0-ae3c7c7abbf2/mzl.zejavnfd.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Tiny Scanner+ - PDF scanner to scan document, receipt &amp; fax</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple69/v4/ea/de/96/eade96d8-3df9-f1e8-b381-88f6f41d7593/mzl.lqzbdvmc.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Hear My Baby Heartbeat App</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple128/v4/40/bc/d7/40bcd72a-d4bd-2ed6-25c0-5e1f142aa5d4/AppIcon-1x_U007emarketing-85-220-0-3.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>TurboScan™ Pro: PDF scanner</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/76/d5/61/76d5616c-c939-c155-f8b6-96a33d49b194/AppIcon-1x_U007emarketing-0-85-220-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>R-Play - Remote Play for PS4</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/cc/6b/98/cc6b98cf-dcf3-68c6-f411-2aca7d26b6ca/AppIcon-1x_U007emarketing-85-220-0-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Baby Pics - Photo Editor</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple128/v4/e7/74/22/e7742277-b9df-b577-2826-a302f36b1c32/AppIcon-1x_U007emarketing-85-220-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>NBA JAM by EA SPORTS™</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple60/v4/c6/7c/48/c67c489a-35eb-e765-a371-9373bac8b2c6/mzl.nyupddfy.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Grand Theft Auto: Vice City</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple49/v4/38/15/0b/38150b04-4fd7-f656-1a6c-18908a0368f3/mzl.obixozru.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>TapeACall Pro: Call Recorder</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/65/37/71/65377155-da25-5240-1333-d4d33ae50912/AppIcon-2-1x_U007emarketing-85-220-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>The Escapists</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/a2/a0/5d/a2a05de7-9818-0ba1-80e9-fd4100bb487c/pr_source.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>TouchRetouch</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple128/v4/03/d8/f2/03d8f232-6dcb-cab3-fb07-b73c6117efe5/AppIcon-1x_U007emarketing-85-220-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Five Nights at Freddy's: Sister Location</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple122/v4/12/91/59/12915985-ca41-b761-c82b-ae68a2707a7c/pr_source.jpg/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Couch to 5K® - Run training</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/56/ac/c0/56acc037-67bc-fea9-f6b7-db1ab65ab7eb/mzl.wlngohgl.jpg/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Toca Hair Salon 3</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/13/13/aa/1313aa3d-a782-5951-b902-735048917624/AppIcon-1x_U007emarketing-0-85-220-0-8.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Five Nights at Freddy's 2</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple127/v4/04/84/ef/0484ef0a-39e4-9022-207e-128a52c9d848/mzl.fasnhplc.jpg/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Assassin's Creed Identity</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/2b/01/6d/2b016d41-3161-cf18-4f67-0978383b5448/pr_source.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>J23 - Release Dates &amp; Restocks</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple128/v4/d9/75/ac/d975ac98-1179-0f57-4c53-1d1987feb1ff/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>iScore5-APHG</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/37/9c/94/379c94e0-da81-440c-aba4-4b3cb52ce72b/AppIcons-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Enlight</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/82/60/05/826005c1-2465-04a8-557b-62b8e318082f/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Infinite Flight</string>
			<key>imageURLString</key>
			<string>https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/b5/be/ae/b5beae75-2261-36be-861b-f5cd587ff801/AppIcons-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Superimpose</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/e9/74/79/e9747921-1e2e-d432-4ea0-51be0777bf42/AppIcon-1x_U007emarketing-85-220-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Scribblenauts Unlimited</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple111/v4/03/30/8e/03308e28-c515-0cfd-e987-ec230520ac01/pr_source.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Red Onion - Tor-powered web browser for anonymous browsing and darknet</string>
			<key>imageURLString</key>
			<string>https://is3-ssl.mzstatic.com/image/thumb/Purple69/v4/d3/ca/e6/d3cae6d1-406a-9e4b-30ff-e2c31be8d39a/pr_source.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>AdBlock</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/8e/2f/41/8e2f41fc-5d0c-4117-4718-c0dcd46fadee/app-icon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Bastion</string>
			<key>imageURLString</key>
			<string>https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/1c/3e/5f/1c3e5fc6-3697-b218-4511-a858cc7e6b52/AppIcon-1x_U007emarketing-0-85-220-0-5.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Emoji - inTextMoji™ Pro ;)</string>
			<key>imageURLString</key>
			<string>https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/a2/5c/47/a25c47c6-2ed0-e420-c63d-1c4f3feb6f1f/mzl.wcygzobg.png/100x100bb-85.png</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>Euclidean Lands</string>
			<key>imageURLString</key>
			<string>https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/f6/03/f0/f603f0a8-f391-aa34-3e92-1faa729dc163/AppIcon-1x_U007emarketing-85-220-5.png/100x100bb-85.png</string>
		</dict>
	</array>
</dict>
</plist>
